.base {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 30fr 30fr 30fr;
    grid-gap: 3vh 2vw;
}
.emptyBase {
    opacity: 0.5;
    text-align: center;
    padding: 2em;
    font-family: var(--font-headers);
    font-size: 2em;
    color: var(--color-whitish);
}

@media (max-width: 900px) {
    .base {
        grid-template-columns: 100fr;
        grid-gap: 10vh;
        align-items: self-start;
    }
}
